# Supabase (Phase 2)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend (Phase 2)
RESEND_API_KEY=

# Site
NEXT_PUBLIC_SITE_URL=https://clutchzone.cz

SUPABASE_DATABASE_PASSWORD=4nDdmgJ3V64HpSZa
